In [24]:
import numpy as np
import pandas as pd
import pandas_profiling

In [4]:
df = pd.read_csv('Privacy_Rights_Clearinghouse-Data-Breaches-Export.csv')

In [5]:
df.head()

,Date Made Public,Company,Location,Type of breach,Type of organization,Total Records,Description of incident,Information Source,Source URL
0,"October 21, 2009",Bullitt County Public Schools,"Shepherdsville, Kentucky",DISC,EDU,676,A Bullitt County Public Schools \n ...,Dataloss DB,NaN
1,"October 21, 2009",Roane State Community College,"Harriman, Tennessee",PORT,EDU,"14,783",Roane State Community College \n ha...,Dataloss DB,NaN
2,"October 15, 2009",Halifax Health,"Daytona Beach, Florida",PORT,MED,"33,000",A laptop computer from a Halifax \n ...,Dataloss DB,NaN
3,"October 4, 2009",Suffolk Community College,"Selden, New York",DISC,EDU,300,Suffolk Community College has \n ag...,Dataloss DB,NaN
4,"September 28, 2009",Penrose Hospital,"Colorado Springs, Colorado",PHYS,MED,175,Officials at Penrose Hospital bel...,Dataloss DB,NaN

In [6]:
df.columns

Index(['Date Made Public', 'Company', 'Location', 'Type of breach',
       'Type of organization', 'Total Records', 'Description of incident',
       'Information Source', 'Source URL'],
      dtype='object')

In [9]:
dates = df['Date Made Public']
dates.head()

0      October 21, 2009
1      October 21, 2009
2      October 15, 2009
3       October 4, 2009
4    September 28, 2009
Name: Date Made Public, dtype: object

In [12]:
dates.to_csv('fechas.csv', index=False)

In [20]:
months = []
days = []
years = []

for d in dates:
    md = d.split(', ')[0]
    day = md.split(' ')[1]
    month = md.split(' ')[0]
    year = d.split(', ')[1]
    
    months.append(month)
    days.append(day)
    years.append(year)

In [21]:
dates_new = np.array([days,months,years])
df_new = pd.DataFrame(np.transpose(dates_new))
df_new.columns = ['d','m','y']

In [26]:
df_new['d'].value_counts()

9     283
11    280
23    280
7     277
14    275
15    274
12    274
20    271
28    270
22    270
16    268
21    265
13    263
29    259
10    258
8     258
2     258
27    256
17    255
3     252
18    248
26    242
1     241
5     228
4     226
30    225
6     223
19    223
24    222
25    221
31    143
Name: d, dtype: int64

In [27]:
df_new['m'].value_counts()

March        733
April        687
July         678
May          676
October      667
August       633
January      629
December     627
February     626
June         617
September    613
November     602
Name: m, dtype: int64

In [28]:
df_new['y'].value_counts()

2012    882
2014    878
2013    852
2016    812
2010    802
2011    789
2015    542
2017    534
2006    482
2007    453
2008    355
2009    271
2005    136
Name: y, dtype: int64

In [25]:
pandas_profiling.ProfileReport(df_new)